* {
  font-family: sans-serif;
}

.slick-track {
  display: flex;
  margin-top: 30px;
}

.slick-initialized .slick-slide {
  max-width: 450px;
  margin: auto;
  text-align: center;
}



.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  outline: 4px solid rgb(219 39 119 / 50%) !important;
  padding-left: 15px;
  background: #ffffff0f;
  color: #fff;
  border: 1px solid rgb(219, 39, 120) !important;
}

.contact-form textarea {
  padding-top: 15px;
}

.hero-text {
  opacity: 1;
  transform: none;
  text-transform: uppercase;
}
